<h1>Patient: <%=@patient.name %></h1>
<h2>Appointment: <%=@patient.appointments.count%></h2>
Appointments: 
<%@patient.appointments.each do |appointment|%>
<%=appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%>
<%=link_to appointment.doctor.name, doctor_path(appointment.doctor)%>
<%end%>