<h1><%= @patient.name %></h1>
<h2><%= pluralize(@patient.appointments.count, 'appointment') %></h2>

<ul>
  <% @patient.appointments.each do |appointment| %>
  <li><%= appointment.time %> : <%= link_to appointment.doctor.name, doctor_path(appointment.doctor)  %></li>
  <% end %>
</ul>
