<h1>Dr.<%= @doctor.name %>'s Page</h1>
<h2>Department: <%= @doctor.department %></h2>
<p>Appointments: </p>
<br>
<% @doctor.appointments.each do |appointment| %>
    <%= link_to appointment.patient.name, patient_path(appointment.patient) %> has an appointment on <%= appointment.appointment_datetime.strftime('%B %d, %Y at %R') %>
    <br>
<% end %>